html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #317298;
  font-size: 100%;
  margin: auto;
  width: 50%;
}

#CoverArt {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 550px;
    border-radius: 50%;
}

#Title {
    color: white;
    font-size: 7em;
}

#Summary {
    color: antiquewhite;
}

#Actors {
    color: antiquewhite;
    list-style-position: inside;
}

#Trailer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#link {
    color:antiquewhite;
}

#Rating {
    color:antiquewhite;
    font-size: 1.5em;
}

#Summary {
    font-size: 1em;
}